@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
    background-color: #0F1014;
    color: #FFFFFF
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-links{
  @apply px-3 py-2 cursor-pointer hover:text-[#FFBF00]
}

.active{
  @apply border border-[#ffffff14] rounded-full;
}

.images{
  @apply flex flex-col gap-1 cursor-pointer w-full
}

.image{
  @apply rounded-md object-cover w-full
}

.firstText{
  @apply font-normal text-sm
}

.secondText{
  @apply font-thin text-sm
}

.service{
  @apply flex flex-col justify-evenly w-auto h-36 cursor-pointer
}

